@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);

  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);

  --fs-p: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d6e1ff;
  background: url(./images/pattern-background-desktop.svg) no-repeat;
}

p {
  color: #7d8392;
  font-size: var(--fs-p);
}

.btn {
  display: inline-block;
  cursor: pointer;
}

.main {
  position: relative;
  min-width: 340px;
  width: 350px;
  border-radius: 20px;
  background-color: #fff;
  text-align: center;
  box-shadow: -2px 1px 52px -6px rgba(0,0,0,0.87);
  -webkit-box-shadow: -2px 1px 52px -6px rgba(0,0,0,0.87);
  -moz-box-shadow: -2px 1px 52px -6px rgba(0,0,0,0.87);
}

.image {
  border-radius: 20px 20px 0 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title {
  font-weight: 900;
  font-size: 25px;
  margin: 1.5rem 0;
}

.desc {
  font-weight: 500;
  color: var(--Dark-blue);
  font-size: 1rem;
  line-height: 1.8;
  padding: 0 20px;
  margin-bottom: 1.5rem;
}

.pricing-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 1rem 1.5rem 1rem;
  padding: 10px;
  border-radius: 10px;
  background-color: #f8f9fe;
  overflow: hidden;
}
.pricing {
  margin: 0 2.5rem 0 1rem;
}

.pricing > h2 {
  font-size: 17px;
  font-weight: 900;
  margin-bottom: 3px;
}
.pricing > p {
  font-weight: 700;
}

.change {
  font-weight: 900;
  color: #382ae1;
}

.change-btn {
  animation: all 200ms ease-in-out;
}

.change-btn:hover {
  opacity: 0.95;
  text-decoration: none;
}

.btn-expanded {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  margin: 0 1rem 1.5rem 1rem;
  width: 90%;
  height: 3rem;
  border-radius: 10px;
  font-weight: 700;
}

.payment-btn {
  background-color: #382ae1;
  color: #fff;
  margin-bottom: 0;
  box-shadow: 2px 21px 46px -17px rgba(56, 42, 225, 0.93);
  -webkit-box-shadow: 2px 21px 46px -17px rgba(56, 42, 225, 0.93);
  -moz-box-shadow: 2px 21px 46px -17px rgba(56, 42, 225, 0.93);
  animation: all 200ms ease-in-out;
}

.payment-btn:hover {
  opacity: 0.9;
}

.cancel-btn {
  margin: 1.5rem;
  text-decoration: none;
  font-weight: 900;
  color: #7d8392;
  animation: color 200ms ease-in-out;
}

.cancel-btn:hover {
  color: #000;
}

@media screen and (min-width: 1440px) {
  .main {
    width: 400px;
  }
}

@media screen and (min-width: 375px) {
  body {
    background: url(./images/pattern-background-mobile.svg) no-repeat cover
      center center;
  }
}
